<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: 
        <a class="disabled" href="#">Sowmya Katakam</a>
    </div>
    <!-- Copyright -->

    <div class="footer-copyright text-center py-3">Follow Us on
        <a href="https://gmail.com/"> Gmail</a>
        |
        <a href="https://twitter.com">Twitter</a>
        |
        <a href="https://facebook.com">Facebook</a>
      </div>
  
  </footer>
  <!-- Footer -->