<div class="card text-center">
    <div class="card-header">
      Music 
    </div>
    <div class="card-body">
      <h5 class="card-title">Learn, Showcase, Enjoy</h5>
      <p class="card-text">With the help of SRUTHI you can learn, teach, showcase your music skills.</p>
      <p></p>
      <div class="alert alert-dark" role="alert">
        Register yourself in SRUTHI and jump into the World of Music!!!
      </div>
      
      <a href="#" class="btn btn-primary">Register</a>
     
     
    </div>
    <div class="card-footer text-muted">
      Feel and Enjoy the Music..Explore your Hidden Talent.
    </div>
   
</div>
